.about_main_container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url(https://scontent.fmkc1-1.fna.fbcdn.net/v/t1.0-9/10007416_1028678077197624_4530010376605423288_n.jpg?oh=166c612f71b95cdf53b3d9565338b110&oe=5A7BF91A)
}
