.button_name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
    margin-bottom: 7px;
}

.logout_button_container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60px;
   width: 60px;
   border-radius: 250px;
   background: #868e96;
   margin-right: 10px;
   margin-top: 10px;
}

.button_name:hover {
    color: pink;
}

