.footer_main_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    background: #2E2E30;
    position: fixed;
    bottom: 0;
    
}

.facebook_logo {
   height: 40px;
   margin-right: 450px;
   margin-top: 8px;
}