.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 250px;
    background: white;
}

.bubble img {
    height: 40px;
    margin-right: 6px;
}